@import "base/markup-variables";
@import "base/markup-mixins";

#imagecapture{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,.8);
  .view{
    width:50%;
    height:50%;
    margin:auto;

    @include linear-gradient(0deg,#febbbb, #ff5c5c);


    border: 1px rgb(255, 255, 255) ;
    border-radius: 4px;
    padding: 0px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;




    .header {
      -moz-box-shadow: inset 0px 39px 0px 0px rgb(115, 115, 115);
      -webkit-box-shadow: inset 0px 39px 0px 0px rgb(115, 115, 115);
      box-shadow: inset 0px 39px 0px 0px rgb(115, 115, 115);

      color: #3b1c0f;
      text-shadow:2px 2px black;
      padding:20px;
    }

    .body{
      padding:20px;

    }
  }

}
