/*@font-face {
	font-family: 'GillSansWd';
	src: url('../fonts/GillSansWd.eot');
	src: url('../fonts/GillSansWd.eot') format('embedded-opentype'),
		 url('../fonts/GillSansWd.woff2') format('woff2'),
		 url('../fonts/GillSansWd.woff') format('woff'),
		 url('../fonts/GillSansWd.ttf') format('truetype'),
		 url('../fonts/GillSansWd.svg#GillSansWd') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GillSansCRegular';
	src: url('../fonts/GillSansCRegular.eot');
	src: url('../fonts/GillSansCRegular.eot') format('embedded-opentype'),
		 url('../fonts/GillSansCRegular.woff2') format('woff2'),
		 url('../fonts/GillSansCRegular.woff') format('woff'),
		 url('../fonts/GillSansCRegular.ttf') format('truetype'),
		 url('../fonts/GillSansCRegular.svg#GillSansCRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}*/


