<div id="imagecapture" class="" >
    <div class="backdrop"></div>
    <div class="view panel">
        <div class="header">
            Photo Booth: Say Cheese!
        </div>
        <div class="body">
           <!-- <div class="camera">
                <video id="video">Video stream not available.</video>
                <button id="startbutton">Take photo</button>
            </div>
            <canvas id="canvas">
            </canvas>
            <div class="output">
                <img id="photo" alt="The screen capture will appear in this box.">
            </div>-->
            <div class="actionContainer">

            </div>
        </div>

    </div>
</div>